body{
    size: 200vh;
    /* background-color:#cce6ff; */
    background-image: url("/home/rails/SOHAIL/react/redux/covid-19-tracker/src/img/img2.jpg");
    background-attachment: fixed;
    
    
}

.countrydata
{
    background-color:black ;  
    /* opacity: 0.5; */
    /* background: -webkit-linear-gradient(black, red); */
    text-align: center;
    color: white;

  
}
